/target
/.idea 
temp
/temp.md
# compiled shaders (SPIR-V). They are not shipped
*.spv 
# magicavoxel models. I kinda need them for demos to work on other machines
# /assets
# mtg deck. Dont ask.
/temp2.md 
# perfomance tracing results
/flame-graph.html
# how else should i shorten this?
/rust-anal.md
out.txt
analysis.json
analysis.jsoncargo
/tree.txt
/temp3.md
# /assets/scene
# /assets/robot.vox

/move.md
# imgui file created by nvidia nsight 
/imgui.ini
/lum/cpp/ogt_vox.cpp
/hole.md
/ipcr.md
/RAW_README.md
/iwmag.md
/test.c
/test.cpp
/a.exe
GL_CHANGES
/webgpu_is_great
e.bash
rust-analyzer-check
example/demo/dist
example/demo/pkg
shaders/shaders/unused
pkg/*.js
pkg/*.ts
pkg/*.wasm
questions.md