/* 

*/

.lum-canvas,
.lum-canvas-container {
    border: none;
    width: 100%
}

.lum-canvas {
    aspect-ratio: 1920/1080;
    background: #333;
    box-shadow: none;
    cursor: not-allowed;
    margin: auto;
    pointer-events: none
}

/* Optional extras you can also move here if you want */
.fixed-controls {
    position: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    z-index: 10
}

.button-style {
    background-color: var(--body-background-color);
    border: var(--border-small);
    box-shadow: 2px 2px var(--border-color);
    cursor: pointer;
    font-size: 1.6rem;
    padding: .5rem .5rem;
    text-decoration: none;
    color: var(--black)
}

.button-style:hover {
    box-shadow: none;
    color: var(--link-color-hover)
}

body.no-code-outline code:not(.keep-style) {
    border: 1px solid transparent;
    box-shadow: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}