:root {
  box-sizing: border-box;
  color-scheme: only light;
  --gap: 1ch;
  --title-font: "Sans the skeleton", sans-serif;
  --text-font: "Sans the skeleton", sans-serif;
  --code-font: monospace;
  --black: #151414;
  --gray: #4c4847;
  --white: #dad8d7;
  --selection-color: #726c6a;
  --border-color: var(--black);
  --border-default: 3px solid var(--border-color);
  --border-small: 1px solid var(--border-color);
  --box-shadow-large: 7px 7px var(--border-color);
  --body-background-color: var(--white);
  --link-color-hover: var(--gray);
}

html {
  /*idk i should probably adjust it differently but whatever*/
  font-size: 80%;
  min-width: 375px;
}

body {
  background-image: radial-gradient(#21212185 1px, transparent 0);
  background-position: -14px -25px;
  background-size: 38px 38px;
  font-family: var(--text-font);
  font-size: 1.6em;
  line-height: 1.45;
  margin: 0;
  background-color: var(--body-background-color);
}

::selection {
  background-color: var(--selection-color);
}

h1, h2, h3, h4, h5 {
  font-family: var(--title-font);
  font-weight: 700;
  line-height: 1.1;
  margin: 0 0 1rem;
  color: var(--black);
  position: relative;
}

/* center them */
:is(h1, h2, h3, h4, h5):not(article :is(h1, h2, h3, h4, h5)) {
  margin-left: auto;
  margin-right: auto;
}

/* remove dots below text */
:is(h1, h2, h3, h4, h5):not(article :is(h1, h2, h3, h4, h5))::after {
  content: '';
  position: absolute;
  inset: -0.06em -0.22em;
  background: var(--body-background-color);
  z-index: -1;
  pointer-events: none;
}

/* nicer in-section article name positioning*/
.header-content * {
  display: block;
  text-align: left;
  margin: 0;
}

.header-content {
  align-items: baseline;
  display: flex;
  gap: 1em;
  margin-top: 0.75rem;
}

strong {
  color: var(--black);
}

em {
  color: var(--gray);
  font-style: italic;
}

a {
  color: var(--black);
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: var(--link-color-hover);
}

/* Layout */
main {
  display: grid;
  grid-template-columns: 1fr 1fr var(--gap) minmax(1em, 70em) var(--gap) 1fr 1fr;
}

main>* {
  grid-column: 4;
}

header {
  padding: 1em 0;
  display: grid;
  grid-template-columns: 1fr;
}

header :is(h1, h2, h3, h4, h5, section) {
  justify-self: center;
  width: fit-content;
}

article, section {
  background-color: var(--body-background-color);
  border: var(--border-default);
  box-shadow: var(--box-shadow-large);
  padding: 1rem;
  margin-bottom: 1em;
}

/* align headlines as in md */
article :is(h1, h2, h3, h4, h5) {
  text-align: left;
}

/* thin description text on homepage*/
section p {
  margin: 0;
}

section {
  border: var(--border-default);
  background: var(--body-background-color);
  padding: 1rem;
  margin-bottom: 2rem;
}

blockquote {
  border-left: var(--border-default);
  margin: 1.5rem 0;
  padding-left: 1.5rem;
  color: var(--gray);
}

code {
  background-color: var(--white);
  border: var(--border-small);
  color: var(--black);
  font-family: var(--code-font);
  /* font-size: .9em; */
  padding: .1rem .3rem;
  margin: 0 .2rem;
}

pre {
  margin: 1rem 0;
}

pre code {
  display: block;
  padding: 1rem;
  background: #c6c5c5;
  overflow-x: auto;
}

ul {
  padding: 0 0 0 20px;
}

ul.posts {
  margin: 0;
  padding: 0;
}

ul.posts li {
  display: flex;
  font-weight: 700;
}

ul.icons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 1.2rem 0 0.8rem;
}

ul.icons a {
  border: var(--border-default);
  box-shadow: 3px 3px var(--border-color);
  display: inline-flex;
  width: 4rem;
  height: 4rem;
  transition: transform 0.25s ease, box-shadow 0.15s ease;
  background-color: var(--body-background-color);
}

ul.icons a:hover {
  box-shadow: 1px 1px var(--border-color);
  transform: translate(2px, 2px);
}

.hover-slide {
  position: relative;
  transition: transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
  overflow: hidden;
}

.hover-slide:hover,
.hover-slide:focus {
  transform: translateX(2px);
}