h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
  font-weight: 700;
  margin-bottom: .75rem;
  margin-top: 0;
  text-align: center;
  line-height: initial;
}

h1 {
  font-size: 4.6rem;
  margin-bottom: 1rem
}

h2 {
  font-size: 3.6rem
}

h3 {
  font-size: 2.8rem;
  margin-top: .75rem
}

h4 {
  font-size: 2.2rem
}

h5 {
  font-size: 1.8rem
}

h6 {
  font-size: 1.6rem
}

h1,
h2,
h3,
h4 {
  text-shadow: 1px 1px 1px var(--black-transparent)
}

h1>a:active,
h1>a:focus,
h1>a:hover {
  text-decoration: none;
  color: inherit
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr var(--gap) minmax(1em, 70em) var(--gap) 1fr 1fr
}

main>* {
  grid-column: 4
}

.header-content {
  display: flex;
  align-items: center;
  gap: 1em;
}

.header-content-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-top: 1em;
  padding-bottom: 1em
}

header :is(h1, h2, h3, h4, h5, h6, section) {
  width: fit-content;
  justify-self: center;
  grid-column: -1/1
}

header>* {
  justify-content: center;
  align-items: center
}

header>p {
  margin: 0 0 2em
}

article {
  display: grid;
  grid-template-columns: min-content minmax(33%, 1fr) min-content;
  grid-column: 4;
  border: var(--border-default);
  box-shadow: var(--box-shadow-large);
  padding: 1rem;
  margin-bottom: 1em
}

article * {
  grid-column: 1/-1;
}

article :is(p:first-of-type, p:last-of-type) {
  margin-bottom: 0;
  margin-top: 0
}

article+h2 {
  margin-top: 1rem;
  background-color: var(--body-background-color);
  width: fit-content;
  justify-self: center
}

article.biography {
  color: var(--black)
}

article.biography p {
  margin: 0
}

@media screen and (max-width:768px) {
  article.biography p {
    text-align: center
  }
}

ul.posts {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0
}

ul.posts li {
  display: flex;
  font-weight: 700;
  justify-content: space-between
}

ul.posts li>small {
  justify-self: end;
  text-transform: uppercase;
  color: var(--black)
}

ul.posts li>a {
  grid-column: 1/-1;
  color: var(--black)
}

ul.posts li>a:active,
ul.posts li>a:focus,
ul.posts li>a:hover {
  text-decoration: inherit;
  color: var(--link-color-hover)
}

ul.icons {
  display: flex;
  grid-column: 1/-1;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 1rem;
  gap: 1rem;
}

ul.icons li {
  display: inline;
  font-size: 2em;
}

ul.icons a {
  height: 4rem;
  width: 4rem;
  padding: .2em .35em;
  border: var(--border-default);
  box-shadow: var(--box-shadow-default);
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

ul.icons a:hover {
  color: var(--link-color-hover);
  box-shadow: none;
}

ul.icons .icon {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}

a {
  text-decoration: none
}

a[class*=icon-] {
  height: 4rem;
  width: 4rem;
  padding: .2em .35em;
  border: var(--border-default);
  box-shadow: var(--box-shadow-default);
  font-size: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center
}

a[class*=icon-]:hover {
  color: var(--link-color-hover);
  box-shadow: none
}

a[class*=icon-]::before {
  vertical-align: middle
}

a {
  color: var(--black)
}

a:active,
a:focus,
a:hover {
  color: var(--link-color-hover)
}

footer p {
  margin-bottom: .5ch;
  margin-top: .5ch
}

footer p.icon-copyright::before {
  vertical-align: middle;
  padding-right: .2em
}

footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em
}

footer p,
p.center {
  text-align: center
}

code,
p a {
  font-weight: 700
}

code {
  display: inline-block;
  background-color: var(--code-background-color);
  color: var(--code-foreground-color);
  border: var(--border-small);
  box-shadow: var(--box-shadow-xsmall);
  line-height: 1.2;
  margin-left: .2rem;
  margin-right: .2rem;
  padding: .1rem .2rem;
  font-family: var(--code-font);
  font-size: .9em;
}

code::selection {
  background-color: var(--code-foreground-color);
  color: var(--code-background-color)
}

pre {
  margin: 1rem 0;
}

pre code {
  display: block;
  padding: 0.5rem;
  background-color: var(--gray-lighterer);
  box-shadow: var(--box-shadow-large);
  /* font-size: 0.7em; */
}

pre code::selection {
  background-color: var(--white);
  color: var(--color-2);
}

section {
  border: var(--border-default);
  padding: 1rem;
  margin-bottom: 2rem;
  background: var(--body-background-color);
}

section>h4 {
  font-family: var(--title-font);
  font-size: 2.4rem;
  margin: 0 0 1rem;
  text-align: center;
  text-shadow: 1px 1px 1px var(--black-transparent);
}

section dl {
  margin: 0;
  margin-top: 1rem;
  padding-left: 1.5rem;
  border-left: var(--border-default);
}

section dt {
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 2rem;
  margin-top: 1.5rem;
}

section dd {
  margin: 0.5rem 0 0 1rem;
  line-height: 1.4;
}

section dt:first-of-type {
  margin-top: 0;
}


html {
  font-size: 62.5%;
  min-width: 375px
}

body {
  font-optical-sizing: auto;
  font-family: var(--text-font);
  font-size: 1.6em;
  background-color: var(--body-background-color);
  background-image: radial-gradient(#000 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -15px -15px;
  letter-spacing: normal;
  line-height: 1.45em;
  margin: 0;
  padding: 0
}

article {
  background-color: var(--body-background-color);
}

span img {
  display: block;
  max-width: 40%;
  height: auto;
  margin: 1rem auto;
  box-shadow: none;
}

@media screen and (max-width:768px) {
  h1 {
    font-size: 3.6rem
  }

  h2 {
    font-size: 2.8rem
  }

  h3 {
    font-size: 2.2rem
  }

  h4 {
    font-size: 1.8rem
  }

  h5 {
    font-size: 1.6rem
  }

  h5 {
    font-size: 1.5rem
  }
}

header section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: var(--border-default);
  color: var(--black);
  box-shadow: var(--box-shadow-large);
}

button {
  padding: 0;
  margin-left: 1rem;
  font-size: 2.1rem;
  white-space: nowrap;

  background-color: var(--caution-text-bg);
  color: var(--caution-text-fg);
  border: var(--border-default);
  box-shadow: var(--box-shadow-default);
}

button:hover {
  color: var(--link-color-hover);
  box-shadow: none;
}

.tight {
  margin-left: .1rem;
  margin-right: .1rem;
  margin-top: 0;
  margin-bottom: 0;
}

button header {
  display: flex;
  background-color: var(--caution-header-background);
  margin: 0;
  padding: 0;
}

/* to make project clickable without link styling */
.header-content-link {
  text-decoration: none;
  color: inherit;
  display: block;
}


.lum-canvas-container {
  width: 100%;
  border: none;
}

.lum-canvas {
  width: 100%;
  aspect-ratio: 1920.0/1080.0;
  background: #333;
  border: none;
  box-shadow: none;
  margin: auto;
  /*i could just ignore input in demo, but this works too*/
  pointer-events: none;
  cursor: not-allowed;
}

*,
::after,
::before {
  box-sizing: inherit
}

:target {
  scroll-margin-block: 5ex
}

:root {
  font-family: var(--text-font);
  font-feature-settings: "liga" 1, "calt" 1;
  scroll-behavior: smooth;
  color-scheme: only light;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  --gap: 1ch;
  --title-font: "DM Serif Display", serif;
  --text-font: "Inter", sans-serif;
  --code-font: "JetBrains Mono", monospace;

  --border-color: var(--black);
  --border-width-md: 3px;
  --border-radius-round: 2em;
  --border-small: 1px solid var(--border-color);
  --border-default: var(--border-width-md) solid var(--border-color);

  --black: #151414;
  --gray: #4c4847;
  --gray-light: #6e6e6e;
  --gray-lighter: #8a8887;
  --gray-lighterer: #c6c5c5;

  --white: #dad8d7;
  --color-1: #726c6a;
  --color-2: #2a2827;

  --box-shadow-color: var(--black);
  --box-shadow-small: 2px 2px var(--box-shadow-color);
  --box-shadow-default: 4px 4px var(--box-shadow-color);
  --box-shadow-large: 7px 7px var(--box-shadow-color);

  --body-background-color: var(--white);
  --selection-color: var(--color-1);

  --link-color-hover: var(--gray);

  --code-background-color: var(--white);
  --code-foreground-color: var(--black);

  --important-header-background: var(--white);
  --important-header-foreground: var(--white);
  --important-text-background: var(--white);
  --important-text-foreground: var(--white);
  --important-icon: var(--icon-exclamation-square-fill);

  --caution-header-background: var(--white);
  --caution-header-foreground: var(--white);
  --caution-text-background: var(--white);
  --caution-text-foreground: var(--black);
  --caution-icon: var(--icon-exclamation-circle-fill);

  --note-header-background: var(--white);
  --note-header-foreground: var(--black);
  --note-text-background: var(--white);
  --note-text-foreground: var(--black);
}

@supports (font-variation-settings:normal) {
  :root {
    --text-font: InterVariable, sans-serif
  }
}

::selection {
  background-color: var(--selection-color)
}

.giscus-container {
  grid-column: 4;
  border: var(--border-default);
  box-shadow: var(--box-shadow-large);
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  background-color: var(--body-background-color);
}