body {
    margin: 40px;
    line-height: 1.6;
}

h1,
h2 {
    margin-bottom: 5px;
}

a {
    color: #0366d6;
}

pre {
    white-space: pre-wrap;
    font-family: inherit;
}

ul {
    margin-top: 0;
    margin-bottom: 1.2em;
}

.section {
    margin-top: 30px;
}

.project-title {
    font-weight: bold;
}

.mono {
    font-family: monospace;
    white-space: pre-wrap;
}